@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');
:root {
  --color-primary: #e32929;
  --color-secondary: #ff611d;
}

body {
  font-family: 'Muli', sans-serif;
  color: #222;
  background-color: #fff;
}
#wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
  min-height: 100vh;
}
.navbar {
  background-color: var(--color-primary);
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
.btn-secondary {
  background: var(--color-secondary);
  border-color: var(--color-secondary);
  text-transform: uppercase;
}
.btn-outline {
  color: var(--color-primary);
  border-color: var(--color-primary);
  text-transform: uppercase;
  font-weight: 700;
  &:hover {
    box-shadow: 0 2px 6px var(--color-primary);
  }
}
.btn-outline {
  color: var(--color-primary);
  border-color: var(--color-primary);
  text-transform: uppercase;
  font-weight: 700;
  &:hover {
    box-shadow: 0 2px 6px var(--color-primary);
  }
}
.btn-group-sm > .btn,
.btn-sm {
  font-size: 0.675rem;
}
.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
  outline: none;
}
.banner {
  padding: 10rem 0;
  color: #fff;
  background-attachment: fixed;
  background-position: 50% 50%;
  position: relative;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  h1 {
    font-size: 3rem;
    font-weight: 700;
  }
}

.content__wrap {
  padding: 3rem 0;
  &:after {
    content: '';
    clear: both;
    display: table;
  }
}
.sidebar {
  width: 300px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  float: left;
  padding-right: 60px;
}
.section__nav {
  padding: 15px;
  background-color: var(--color-primary);
  border-radius: 0.5rem;
  ul {
    padding: 0 15px 0 0;
    margin: 0;
    text-align: right;
    list-style-type: none;
    font-weight: 700;
  }
  li {
    padding-bottom: 0.5rem;
    position: relative;
    &:after {
      position: absolute;
      bottom: 0.9rem;
      right: -15px;
      width: 10px;
      height: 3px;
      background-color: #ffb80e;
      z-index: 1;
    }
    &.active {
      &:after {
        content: '';
      }
      a {
        color: #ffb80e;
      }
    }
  }
  a {
    color: #eee;
    &:hover {
      color: #ffb80e;
      text-decoration: none;
    }
  }
}
.food__section {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 30px;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--color-secondary);
  }
}
.content {
  margin-left: 300px;
  h2 {
    font-size: 1rem;
    font-weight: 700;
    position: relative;
    padding-bottom: 0.5rem;
    small {
      font-weight: 700;
      margin-left: 5px;
      font-size: 0.7rem;
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 33px;
      height: 3px;
      background-color: var(--color-primary);
    }
  }
}
.food__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-left: -30px;
  &--col {
    position: relative;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
.food__card {
  padding: 20px 0;
  max-width: 340px;
  &--img {
    margin-bottom: 0.5rem;
    position: relative;
    img {
      border-radius: 0.5rem;
    }
    .price {
      font-weight: 700;
      font-size: 0.7rem;
      line-height: 1;
      color: #fff;
      position: absolute;
      bottom: 10px;
      left: 10px;
      border-radius: 0.2rem;
      background-color: var(--color-primary);
      padding: 0.2rem;
    }
  }
  &--meta {
    font-size: 0.8rem;
    color: #777;
    p {
      margin-bottom: 0.5rem;
    }
  }
  &--title {
    font-weight: 700;
    display: block;
    font-size: 1rem;
    color: #222;
  }
  &--footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.contact__box {
  color: #fff;
  background-color: var(--color-primary);
  border-radius: 0.5rem;
  padding: 3rem;
}
#footer {
  padding: 1rem 0;
  text-align: center;
  font-size: 0.8rem;
  color: #fff;
  background-color: var(--color-primary);
}

.testimonial {
  padding: 2rem 0 6rem;
  h2 {
    font-size: 1.6rem;
    font-weight: 700;
    position: relative;
    padding-bottom: 1rem;
    small {
      font-weight: 700;
      margin-left: 5px;
      font-size: 0.7rem;
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 33px;
      height: 3px;
      background-color: var(--color-primary);
    }
  }
}
.modal-content {
  border-radius: 0;
  .modal-body {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .modal-footer {
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  .btn {
    width: 50%;
    margin: 0;
    border-radius: 0;
  }
}
